# Виртуальное окружение
.venv
venv
ENV

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE и системные файлы
.idea/
.vscode/
*.DS_Store

# Локальные настройки и секреты (если есть)
.env
*.local

# Результаты сборки Docker (если вдруг локально собираешь)
docker-build/
